@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*-----------------------------heading*/
.header {
    margin: 0;
}

.heading {

    margin-left: 50px;

}

/*-----------------------------general/margins/text/spand/padding/etc.*/

h1,h2,h3,h4,h5 {

    margin: 0;
}

.uppercase {

    text-transform: uppercase;
}

.general-sub {

    font-family: "roboto", sans-serif;
    font-weight: 200;
    color: #fafafa;

}

.inline-block {

    display: inline-block;
}

.row-table {

    display: table;
}

.section-column {

display: table-cell;
padding: 0;
float: none;

}

.section-heading {

font-family: "Exo", sans-serif;
font-weight: 300;
margin-top: 25px;
margin-bottom: 40px;

}
.classes-heading {

 background-color: #3AAACF;

}

/*-----------------------------colors*/


.bg-color-name-moto {

    background-color: #052C6E;
}

.bg-color-classes {
height: 100%;
background-color: #F4FBFF;  

}

.ui-menu-color-home {

    background-color: #29497F;
    
}

.ui-menu-color-classes {

    background-color: #1049A9   ;

}
.ui-menu-color-contact {

    background-color: #6A92D4;

}
.ui-menu-color-membership {

    background-color: #FFA400;

}

.logo {
background: url(../images/gym.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 300px;
transition: all 2s ease-in-out;
-moz-transition: all 2s ease-in-out;
-webkit-transition: all 2s ease-in-out;
}

.name {
    font-family: "Exo" sans-serif;
    font-weight: 300;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;

}

.moto {
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #FFA400;
    
}
.container-home {

    margin: 0;
    border: 0;
    float: none;
    padding: 0;
}

.home-bg {
background-image: url(../images/gym3.jpg);
height: 600px;

}


.home-text {
padding: 0;
float: none;
margin: 0;
min-height: 300px;
font-family: "robotto", sans-serif;
font-size: 20px;
color: #fff;
text-align: center;
}

.class-text {

color: #fff;
font-size:18px;
}

.list-inline-item:not(:last-child) {

margin: 0;

}



.menucontainer {

    font-size: 0;

}

#nav {

    margin: 0;

}

#nav li {

   font-size: 14px;
   padding: 0; 
}

.menuitem {

    height: 100px;
    text-align: center;
    padding: 0;

}

.menuitem a {

    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 100px;
}

.menuitem a i {

    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
/*-----------------------------Contact&nbspus*/
.map-container {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
background-color: #fafafa;
}
.map-container iframe{
left:0;
top:0;
height:75%;
width:75%;
padding-bottom: 10px;
position:absolute;
background-color: #fafafa;
}
.md-form {
padding-top: 10px;
}

.card {

background-color: #fafafa;

}

/*-----------------------------hover.css*/

.hvr-sweep-to-bottom::before {
    background: rgba(0, 0, 0, 0.2);
    height: 100px;

}


/*-----------------------------footer*/

footer {
bottom: 10px;
position: relative;
 background-color: #052C6E;
 color: #fafafa;
 min-height: 100px;

}

.social-links {

scroll-padding-bottom: 15px;

}

.social-links li a i {

    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}
.social-links li a i:hover {

    background: #FFA400;
}
#footer-details {

padding: 20px;

}

.membership {

background: url(../images/soon.jpg);
height: 600px;
}
#classes {

height: 600px;
background-color: #F4FBFF;

}
/*-----------------------------media queries*/

@media screen and (max-width: 600px){

#home {
background-image: none;
background-color: #29497F;

}