@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
 margin: 0; 
 padding-bottom: 150px;
 background-color: rgb(205, 207, 207);
}

.header {
    margin: 0;
    height: 15vh;
   
}

.heading {

    margin-left: 50px;

}
.main-container {
 min-height: 50vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 10px; /* height of your footer */
}

/*-----------------------------general/margins/text/padding/etc.*/

h1,h2,h3,h4,h5 {

margin: 0;

}

.uppercase {

    text-transform: uppercase;
}

.general-sub {

    font-family: "roboto", sans-serif;
    font-weight: 200;
    color:#fafafa;

}

.inline-block {

    display: inline-block;
}

.row-table {

    display: table;

}


/*-----------------------------colors*/


.bg-color-name-moto {

background-color: #052C6E;

}

.bg-color-classes {

background-color: #F4FBFF;  

}

.ui-menu-color-home {

background-color: #29497F;
    
}

.ui-menu-color-classes {

background-color: #1049A9   ;

}
.ui-menu-color-contact {

background-color: #6A92D4;

}
.ui-menu-color-membership {

background-color: #FFA400;

}
/*-----------------------------colors*/

/*-----------------------------header*/
.logo {
background: url(../images/gym.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 150px;
transition: all 2s ease-in-out;
-moz-transition: all 2s ease-in-out;
-webkit-transition: all 2s ease-in-out;
}

.name {
    font-family: "Exo" sans-serif;
    font-weight: 300;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
    text-align: left;
}

.moto {
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #FFA400;
    text-align: left;
    
}



.list-inline-item:not(:last-child) {

margin: 0;

}



.menucontainer {
    font-size: 0;

}

#nav {

    margin: 0;
    padding: 0;

}

#nav li {

   font-size: 14px;
   padding: 0; 
}

.menuitem {

    height: 100px;
    text-align: center;
    padding: 0;

}

.menuitem a {

    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 100px;
}

.menuitem a i {

    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------------------------header*/

/*-----------------------------hover.css*/

.hvr-sweep-to-bottom::before {
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
}

/*-----------------------------index video*/
	.after, .before {
    height:50px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

#video {
    position: relative;
    max-height:150px;
    width:100%;
    overflow: hidden;
    object-fit: scale-down;
}
#videobg {
    position: absolute;
    top: 0;
    left: 0;

    height:auto;
    width:auto;
    z-index: -100;
}
	
#videobg .container-fluid {
padding: 0;
height: 150px;

}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-family: 'robotto', sans-serif;
  font-size: 9vw;
  text-align: center;
}


/*-----------------------------footer*/

footer {

 position: relative;
 padding: 
 height: 150px;
 bottom: 0;
 width: 100%;

background-color: #052C6E;
color: #fafafa;


}

.social-links {

scroll-padding-bottom: 15px;

}

.social-links li a i {

    width: 130px;
    height: 30px;
    padding: 12px 0;
    border-radius: 25%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i {

    width: 100px;
    height: 30px;
    padding: 12px 0;
    border-radius: 20%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}
.social-links li a i:hover {

    background: red;
}




#footer-details {

padding: 20px;

}

